<%= form_for :group, url: groups_path do |f| %>
 
<div class="container">
	<div class="form-group">
	    		<%= f.label :"Group Name", class:"control-label col-sm-2" %>
	      		      <%= f.text_field :name, class:"col-sm-8" %>
	    	</div>
			<br><br>
	    	<div class="form-group">
            <%= f.submit "Create", class:"btn btn-primary col-sm-offset-2 col-sm-3 "%>
	      		      
	    	</div>
</div>
<% end %>